{% extends "moqar_app/guest_base.html" %}
{% load staticfiles %}
{% load socialaccount %}
{% load url from future %}
{% load i18n %}

{% block content %}
<section class="centered grid_8">
    <div class="grid_12">
            <img src="{% static "img/logo_large.png" %}" class="grid_4">
        <div class="grid_12 large">
            <p class="grid_12">
                Welcome to Moqar, please register using your email, or use your social network account to sign up.
            </p>
        </div>
        <form id="signup_form" class="grid_6 signup" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {% for key, value in form.errors.items %}
                {% for error in value %}
                    <li>{{ key }} {{error }}</li>
                {% endfor %}
            {% endfor %}
            <input type="text" placeholder="First Name" class="grid_6" id="id_first_name" name="first_name"/>
            <input type="text" placeholder="Last Name" class="grid_6" id="id_last_name" name="last_name"/>
            <input type="text" placeholder="Userame" class="grid_12" id="id_username" name="username"/>
            <input type="email" placeholder="Email" class="grid_12" id="id_email" name="email"/>
            <input type="password" placeholder="Password" class="grid_12" id="id_password1" name="password1"/>
            <div class="line"></div>
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
                 <input type="submit" class="grid_12 btn btn-green" value="Sign Up"/>
       
        </form>
        <div class="social grid_6">
            <a href="{% provider_login_url "facebook" method="oauth2" %}">
                <div class="social-button facebook btn grid_12">Sign in with Facebook</div>
            </a>
        </div>
    </div>
</section>
{% endblock %}