<section ng-controller="user">
	<header id="header">
		<h1>[[ user.username ]]</h1>
	</header>
	<nav>
		<ul>
			<li>
				<a href="/users/[[ user.username ]]/">Overview</a>
			</li>
			<li>
				<a href="/users/[[ user.username ]]/moqs/">moqs</a>
			</li>
		</ul>
	</nav>
	<div ui-view="user_sub"></div>
</section>