{% load staticfiles %}


<!doctype html>
<html lang="en" ng-app="moqar" data-framework="angularjs">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Moqar</title>
    <style>[ng-cloak] { display: none; }</style>
    <link href="{% static "css/reset.css" %}" type="text/css" media="all" rel="stylesheet"/>
    <link href="{% static "css/grid.css" %}" type="text/css" media="all" rel="stylesheet"/>
    <link href="{% static "css/styles.css" %}" type="text/css" media="all" rel="stylesheet"/>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-44692275-1', 'moqar.com');
      ga('send', 'pageview');
    </script>
  </head>
  <body ng-controller="application">
    <nav id="main-nav" class="clearfix">
      <div class="container container_12">
        <div class="grid_12">
          <a id="brand" class="left" href="/"></a>
          <div id="search" class="left [[ state ]]">
            <input type="text" ng-model="query" placeholder="Search" ng-change="autocomplete()"/>
            <ul ng-show="query" class="results" ng-cloak keyboardize>
              <li ng-repeat="result in results" class="ng-class: {'highlighted': $index == focusIndex}; result clearfix">
                  <a ng-href="/moq/[[ result.id ]]/" ng-click="openModal('/users/moqs/overlay.html','/moq/[[ result.id ]]/')" class="clearfix">
                    <img class="left" ng-src="/[[ result.image ]]" />
                    <div class="left text">
                      [[ result.question ]]
                    </div>
                    <div class="tags left">
                    [[ result.tags ]]
                  </div>
                  </a>
              </li>
              <li class="result clearfix no-pointer centered-text" ng-show="no_results">
                 We couldn't find any moqs related to what you've typed :(
              </li>
              <li class="result clearfix centered-text all-results" ng-hide="no_results || !results.length">
                <a href="/moqs?q=[[ query ]]">
                  See all results for <span class="blue">"[[ query ]]"</span>
                </a>
              </li>
            </ul>
          </div>
          <div>[ + ]</div>
        </div>
      </div>
    </nav>
    
    <div ui-view="main" id="main" class="centered"></div>

    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/angular.js" %}"></script>
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/angular-ui-router.js" %}"></script> 
    <script src="{% static "js/angular-resource.js" %}"></script> 
    <script src="{% static "js/app.js" %}"></script>
    <script src="{% static "js/services/user.js" %}"></script>
    <script src="{% static "js/services/moqs.js" %}"></script>
    <script src="{% static "js/controllers/application.js" %}"></script>
    <script src="{% static "js/controllers/user.js" %}"></script>
    <script src="{% static "js/controllers/moq.js" %}"></script>
    <script src="{% static "js/controllers/moqs.js" %}"></script>
    <script src="{% static "js/services/elleStorage.js" %}"></script>
    <script src="{% static "js/directives/general.js" %}"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
