{% extends "moqar_app/guest_base.html" %}
{% load staticfiles %}

{% block content %}
<section ng-controller="user" class="centered grid_8">
    <div class="grid_12">
        <div class="grid_12">
            <img src="{% static "img/logo_large.png" %}" class="grid_4">
        </div>
        <div class="grid_12 large">
            <p class="grid_12">
                Please complete your Moqar profile.
            </p>
        </div>
        <form class="grid_6 signup" action="" method="post">
            <input type="text" placeholder="Userame" class="grid_12" id="id_username"/>
            <input type="email" placeholder="Email" class="grid_12" id="id_email"/>
            <input type="password" placeholder="Password" class="grid_12" id="id_password"/>
            <div class="line"></div>
            <input type="submit" class="grid_12 submit btn btn-green grid_12" value="Sign Up"/>
        </form>
    </div>
</section>
{% endblock %}