{% extends "moqar_app/guest_base.html" %}
{% load staticfiles %}

{% block content %}
<section ng-controller="user" class="centered grid_8">
    <div class="grid_12">
        <img src="{% static "img/logo_large.png" %}" class="grid_4">
        <div class="grid_12 large">
            <!-- (TODO:cvirus): the variable `tags` renders all tags and angular handles everything else -->
            {{ tags }}
            <div ng-init="tags = {{ tags }}"></div>
            <p class="grid_12">
                Please select the tags that you are intersted in. This helps us to personalize the contnet according to what you like!
            </p>
        </div>
        <form class="grid_12 signup" action="" method="post">
            <input placeholder="Type tags or select from below" class="grid_12" type="text" ng-model="tagfilter"/>
            <div class="clearfix margin-bottom">
                <label for="[[ tag.name ]]" ng-repeat="tag in tags | filter:tagfilter">
                    <input class="hidden" type="checkbox" id="[[ tag.name ]]"/>
                    <span class="tag btn btn-grey">[[ tag.name ]]</span>
                </label>
            </div>
            <input type="submit" class="grid_4 right btn-blue btn" value="Next"/>
        </form>
    </div>
</section>
{% endblock %}

{% block scripts %}
<script src="{% static "js/angular.js" %}"></script>
<script src="{% static "js/angular-ui-router.js" %}"></script> 
<script src="{% static "js/app.js" %}"></script>
<script src="{% static "js/controllers/application.js" %}"></script>
<script src="{% static "js/controllers/user.js" %}"></script>
<script src="{% static "js/controllers/moq.js" %}"></script>
<script src="{% static "js/services/elleStorage.js" %}"></script>
{% endblock %}