{% load url from future %}
{% load staticfiles %}

<!doctype html>
<html lang="en" class="guest" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta property="og:image" content="http://www.moqar.com/static/img/logo_fb.png" />
    <title>Moqar</title>
    <style>[ng-cloak] { display: none; }</style>
    <link href='http://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here' rel='stylesheet' type='text/css'>
    <link href="{% static "css/reset.css" %}" type="text/css" media="all" rel="stylesheet"/>
    <link href="{% static "css/grid.css" %}" type="text/css" media="all" rel="stylesheet"/>
    <link href="{% static "css/styles.css" %}" type="text/css" media="all" rel="stylesheet"/>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-44692275-1', 'moqar.com');
      ga('send', 'pageview');
    </script>
  </head>
  <body ng-controller="application" class="guest">
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    
    <div id="main" class="centered">
      {% block content %}{% endblock %}
    </div>
    
    {% block scripts %}{% endblock %}
  </body>
</html>
