{% extends "moqar_app/guest_base.html" %}
{% load staticfiles %}

{% block content %}
<div id="hint">
	We are getting close!
</div>
<section class="centered grid_6" id="welcome">
	<div class="grid_12">
		<div id="logo" class="grid_12">
        	<div class="inner left">
        		<img src="{% static "img/logo.png" %}" height="70">
        		<span class="huge">Decisions made easy</span>
        	</div>
		</div>
		<div class="grid_12 large">
			<p class="grid_11 centered" style="padding: 40px 0; font-weight: 300; line-height:1.5">
				Change the way you compare between just about anything! Be the first in line and enter your email to be the first to use Moqar.
			</p>
		</div>
		<div class="grid_11 signup centered">
			<form>
			<input type="text" placeholder="Email" class="grid_7" name="email" id="email"/>
			<input type="submit" class="grid_5 btn btn-green" value="Request Invitation" id="request_invitation"/>
		</form>
		</div>
	</div>
</section>
{% endblock %}

{% block scripts %}
<script src="{% static "js/jquery.js" %}"></script>
<script>
$(function(){
	$('form').submit(function(e){
		e.preventDefault();

		if(isValidEmailAddress($('#email').val()))
			$.ajax({
				contentType: 'application/json',
				dataType: 'raw',
				type: 'POST',
				url: '/api/icode/',
				data: JSON.stringify({
				    "email": $('#email').val(),
				}),
				statusCode: {
					201: function(data) {
						$('.grid_11.centered').fadeOut('400', function() {
							$('.signup').remove();
							$('.grid_11.centered').html('<div class="very-large">Thank you for requesting an account with us. We will contact you when we go live!</div>').fadeIn(400);
						});
					},
					202: function(data) {
						console.log(data)
						$('.grid_11.centered:not(.signup)').fadeOut('400', function() {
							$(this).html('<div class="very-large">' + data.responseText + '</div>').fadeIn(400);
						});
			
						wrongEmail()
					}
				}
			})
		else wrongEmail()
	})

});

function wrongEmail() {
	$('#email').after('<span class="error_helper">&times;</span>').addClass('error').change(function(){
		$(this).removeClass('error');
		$('.error_helper').remove()
	})
}

function isValidEmailAddress(emailAddress) {
    return (new RegExp(/^[+a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/i)).test(emailAddress) && emailAddress.length < 254;
};
</script>
{% endblock %}