{% extends "moqar_app/guest_base.html" %}
{% load staticfiles %}
{% load socialaccount %}

{% block content %}
<section ng-controller="user" class="centered grid_8">
    <div class="grid_12">
            <img src="{% static "img/logo_large.png" %}" class="grid_4">
        <div class="grid_12 large">
            <p class="grid_12">
                Welcome to Moqar, please register using your email, or use your social network account to sign up.
            </p>
        </div>
        <form class="grid_6 signup" action="" method="post">
            {% csrf_token %}
            <input type="text" placeholder="First Name" class="grid_6" id="id_firstname"/>
            <input type="text" placeholder="Last Name" class="grid_6" id="id_lastname"/>
            <input type="text" placeholder="Userame" class="grid_12" id="id_username" value="{{ request.GET.username }}"/>
            <input type="email" placeholder="Email" class="grid_12" id="id_email" value="{{ request.GET.email }}"/>
            <input type="password" placeholder="Password" class="grid_12" id="id_password"/>
            <div class="line"></div>
            <input type="submit" class="grid_12 btn btn-green" value="Sign Up"/>
        </form>
        <div class="social grid_6">
            <a href="{% provider_login_url "facebook" method="oauth2" %}">
                <div class="social-button facebook btn grid_12">Sign in with Facebook</div>
            </a>
        </div>
    </div>
</section>
{% endblock %}