<section ng-show="moqs.length" ng-controller="Moqs" class="moqs">
	<div ng-repeat="moq in moqs" class="moq">
        <div class="images">
            <img ng-src="media/[[ image.image ]]" ng-repeat="image in moq.images" height="128" width="128" >[[ image ]]</img>
        </div>
        <div class="meta">
            <div class="user">
                <img ng-src="media/[[ moq.user.profile_picture ]]"  class="avatar left" />
                <div class="name left">
                    <a href="/users/[[ moq.user.username ]]">[[ moq.user.username ]]</a>
                </div>
                <div class="btn btn-blue btn-small">Follow</div>
            </div>
            <div class="question">
                [[ moq.question ]]
            </div>
        </div>
	</div>
</section>