{% load staticfiles %}

<!doctype html>
<html lang="en" ng-app="moqar" data-framework="angularjs">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Moqar</title>
    <style>[ng-cloak] { display: none; }</style>
    <link href="{% static "css/reset.css" %}" type="text/css" media="all" rel="stylesheet"/>
    <link href="{% static "css/grid.css" %}" type="text/css" media="all" rel="stylesheet"/>
    <link href="{% static "css/styles.css" %}" type="text/css" media="all" rel="stylesheet"/>
  </head>
  <body ng-controller="application" class="guest">
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    
    <div id="main" class="centered">
      {% block content %}{% endblock %}
    </div>
    
    {% block scripts %}{% endblock %}
  </body>
</html>
