/* ---- Reset */

html,
body,
ul,li,
h1,h2,h3,h4,h5,h6, 
input {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    list-style: none

}

html,body {
    height: 100%
}

html,body {
    height: 100%
}
img {
	vertical-align: middle;
}

*:focus {
    outline: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ---- Base styles */

html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

html {
    background: #fcfcfc;
    color: #222;
}

a {
    text-decoration: none;
    outline: 0;
    cursor: pointer;
}

a:focus {
    -moz-outline-style: none;
}