html {
    background: #e0e0e0;
    font-size: 8px;
}

html,body,input,button {
    font-family: Helvetica, arial, freesans, clean, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
}

html.guest {
    background: #fff url('/static/img/moqar.jpg') top center no-repeat;
    background-size: cover;
    padding-top: 100px;
}

a, 
a:visited, 
a:active {
    color: #000;
}

a:hover {
    color: #179bc5;
}

#brand {
    background: url('/static/img/logo.png') no-repeat left center;
    height: 50px;
    width: 120px;
    background-size: 100px;
    margin-right: 20px;
}

.left {
    float: left;
}

#main-nav {
    border-bottom: 2px solid #aaa;
    background: #fff;
}

#search {
    width: 50%;
    position: relative;
    margin: 10px 0;
}

#search.loading {
    background: url('/static/img/loader.gif') no-repeat top right;
    background-size: 20px;
}

#search:before {
    content: '.';
    background: #179bc5;
    border-radius: 100px;
    width: 6px;
    height: 6px;
    font-size: 0;
    display: block;
    position: absolute;
    bottom: -2px;
    left: -3px;
}

#search input {
    border: 0;
    background: transparent;
    border-bottom: 1px solid #179bc5;
    width: 100%;
    font-size: 16px;
    line-height: 29px;
    text-indent: 10px;
}

.result {
    font-size: 16px;
    line-height: 50px;
}

.result img {
    height: 50px;
    width: 50px;
    margin: 10px 20px 10px 10px;
}

.result .text, .result .tags {
    padding: 10px 0;
}

.result:hover, .highlighted {
    background: #fafafa;
}

.right {
    float: right;
}

.result .text {
    margin-right: 20px;
}

.result .tags {
    color: #555;
}

.result a {
    display: block;
}

ul,li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.results {
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
    position: absolute;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 1;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    display: none;
}

.inner-modal {
    position: absolute;
    display: table;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    box-shadow: 0 0 20px #000;
    width: 60%;
    padding: 20px;
}

.signup input[type=text],
.signup input[type=email],
.signup input[type=password],
.social-button {
    border-radius: 5px;
    font-size: 2.5rem;
    padding: 1rem 0;
    box-shadow: 0 0 0 1px #999;
    margin-bottom: 1rem;
    text-indent: 1rem;
}

.large {
    font-size: 2rem;
}

.social-button.facebook {
    background-color: #3b5998;
}

.social-button.twitter {
    background-color: #56b4ef;
}

::-webkit-input-placeholder {
    font-family: Helvetica, arial, freesans, clean, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
}

::-moz-placeholder {
    font-family: Helvetica, arial, freesans, clean, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
} /* firefox 19+ */
:-ms-input-placeholder {
    font-family: Helvetica, arial, freesans, clean, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
} /* ie */
input:-moz-placeholder {
    font-family: Helvetica, arial, freesans, clean, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
}

#main {
    width: 1100px;
}

body[class*=guest] #main-nav {
    display: none;
}

.centered {
    margin: 0 auto;
    display: table;
    float: none;
}

.blue {
    color: #009ac7;
}

.btn {
    border-radius: 5px;
    font-size: 2.5rem;
    padding: 1rem 0;
    margin-bottom: 1rem;
    display: inline-block;
    text-align: center;
    color: #fff;
}

.btn-blue {
    background: #009ac7;
}

.btn-green {
    background-color: #7bbe31;
}

.btn-turquoise, input:checked + .btn {
    background: #4cabc7;
}

.btn-grey {
    background: #808080;
}

.btn-small {
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
}

.tag {
    padding: 1rem;
    margin: 1rem 0 0 1%;
}

.margin-bottom {
    margin-bottom: 1rem;
}

.hidden {
    display: none;
}

button, input[type=submit], label, .btn {
    cursor: pointer;
}

.moq .images img {
    height: 128px;
    width: 128px;
    background: yellow;
    box-shadow: 0px 4px 7px rgba(0,0,0,0.5);
}

.moq .images img:nth-child(even) {
    margin-right: -5px;
    margin-left: 2.5px;
}

.moq .images img:nth-child(odd) {
    margin-right: 2.5px;
    margin-left: -5px;
}

.moq .images img:nth-child(1),
.moq .images img:nth-child(2) {
    margin-top: -5px;
    margin-bottom: 2.5px;
}

.moq .images img:nth-child(3),
.moq .images img:nth-child(4) {
    margin-top: 2.5px;
}

.moq .images {
    background: #c6c6c6;
    padding-bottom: 7.5px;
}

.meta {
    background: #fff;
    padding: 10px;
}

.avatar {
    height: 30px;
    width: 30px;
}

.moq .user {
    overflow: auto;
    position: relative;
}

.moq .name {
    line-height: 30px;
    margin-left: 5px;
}

.moq .btn-small {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    display: table;
}

.moq .question {
    margin-left: 35px;
    margin-top: 10px;
    font-size: 1.1rem;
}

.moqs {
    -moz-column-count: 4;
    -moz-column-gap: 5px;
    -webkit-column-count: 4;
    -webkit-column-gap: 5px;
    column-count: 4;
    column-gap: 5px;
    -moz-column-rule-color: #fff;
    -moz-column-rule-style: solid;
    -moz-column-rule-width: 1.5px;
    -webkit-column-rule-color: #fff;
    -webkit-column-rule-style: solid;
    -webkit-column-rule-width: 1.5px;
    -webkit-column-fill: auto;
    padding: 15px 0;
}

.moq {
    display: inline-block;
    font-size: 1.25rem;
    padding: 5px 10px 0px 10px;
    width: 251px;
    margin-bottom: 20px;
}

.no-pointer {
    pointer-events: none;
}

.centered-text {
    text-align: center;
}

.all-results {
    border-top: 1px solid #c6c6c6;
    background: #efefef;
}

.all-results:hover {
    background: #ddd;
}

#welcome {
	background: rgba(0,0,0,.8);
	margin-top: -170px;
	padding: 30px 0 20px 0;
	color: #fff;
	border-radius: 0 0 15px 15px;
	position: fixed;
	width: 500px;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
}

#logo {
    margin-left: -1%;
}

#logo .inner {
    padding: 10px 30px;
    display: inline-block;
    background: rgba(255, 255, 255, 1);
    border-radius: 0 10px 10px 0;
}

.inner .huge {
    vertical-align: bottom;
    margin-top: auto;
    position: relative;
    top: 3px;
    margin-left: -10px;
    color: rgba(0,0,0,0.4);
    font-size: 16px;
    line-height: 50px;
}

.logo_img img {
    margin-top: 12px;
}

.very-large {
    font-size: 2.5rem;
}

#hint {
    font-family: 'Just Me Again Down Here', cursive;
    font-size: 7rem;
    color: #fff;
    position: fixed;
    bottom: 8%;
    right: 8%;
}

.error {
    box-shadow: 0 0 0 2px rgb(230, 6, 6)!important;
}

.error_helper {
    font-size: 3rem;
    position: absolute;
    margin-left: -35px;
    color: red;
    line-height: 2.5rem;
    width: 3rem;
    text-align: center;
    font-variant: small-caps;
    margin-top: auto;
    font-weight: bold;
    font-family: arial;
    background: #fff;
    padding: 9.5px 3.5px;
    border-radius: 5px;
}

html.guest {
	overflow: hidden;
}